<div
  class="group flex flex-col gap-4 bg-white p-4 rounded-lg border border-slate-200 shadow-sm transition-all duration-300 hover:shadow-lg hover:-translate-y-1"
>
  <div
    class="w-full aspect-square bg-cover bg-center rounded-lg overflow-hidden transform group-hover:scale-105 transition-transform duration-300"
    [style.background-image]="'url(' + (product().imageUrl || 'https://placehold.co/600x400') + ')'"
  ></div>
  <div class="flex-grow">
    <h3 class="text-lg font-bold text-text-light font-display">{{ product().title }}</h3>
    <p class="text-text-secondary-light font-body">
      {{ product().description }}
    </p>
  </div>
  <span
    class="inline-block bg-teal-100 text-teal-800 text-sm font-semibold px-3 py-1 rounded-full self-start"
    >{{ productStatus.get(product().status) }}</span
  >
</div>
